/* 
    google search google fonts, click on Google Fonts https://fonts.google.com
    search for the fonts that you want, click on the fonts, click on Get font button7j
    click on Get Embedded code button, check @import
*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}
.wrapper{
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 0;
}
.slide{
    width: 100%;
    height: 650px;
    position: relative;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center center;
}
.header{
    background-color: rgba(255, 254, 254, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 66px;
}
.header .logo{
    font-size: 40px;
    float: left;
}
.header .logo a{
    text-decoration: none;
    color: #000000;
    font-family: "Pacifico", cursive;
}
.header .menu ul li{
    list-style: none;
    display: inline-block;
}
.header .menu ul li a{
    display: block;
    padding: 10px;
    color: #0c0a0a;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.sliceTitle{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0c0a0a;
    text-align: center;
}
.sliceTitle h1{
    font-size: 50px;
    text-transform: capitalize;
}
.sliceTitle p{
    font-size: 20px;
}

/* about section */
.content{
    padding: 50px 40px;
    z-index: 0;
}
.content-title{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-inline-start: 35px 0;
    text-transform: capitalize;
}
.content-title h2{
    font-size: 48px;
    color: #333;
    padding: 40px 0 0 0;
}
.content-title .border span{
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: #9aabcf;
    margin: 0 10px 20px 0;
    border-radius: 100px;
}
 p.content-desc{
    font-size: 18px;
    color: #393838;
    max-width: 60%;
    padding: 5px;
    margin-left: 20%;
    text-align: center;
}
.skill-section{
    display: flex;
    padding: 55px 0;
    justify-content: space-between;
    align-items: center;
}
.skill-section .skill-img{
    width: 50%;
}
.skill-section .skill-img img{
    width: 100%;
}
.skills{
    width: 100%;
    float: left;
    padding-top: 15px;
    text-transform: capitalize;
}
.skills i{
    color: #393838;
    float: left;
    clear: both;
}
.skills span{
    width: 100%;
    height: 25px;
    border: 1px solid #9aabcf;
    display: inline-block;
    margin: 7px;
}
.skills span abbr{
    display: inline-block;
    width: 70%;
    height: 25px;
    background-color: #9aabcf;
}
.skills.efficiency span abbr{
    width: 90%;
}
.skills.effectiveness span abbr{
    width: 30%;
}
.skills.computer span abbr{
    width: 92%;
}

/* services section */
.services{
    background-color: #e5e9ef;
}
.service{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #393838;
}
.column.col2{
    margin: 0 4%;
}
.column i.fa{
    font-size: 40px;
}
.column i:hover.fa{
    color: #9aabcf;
}
.column h4{
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 10px;
    color: #9aabcf;
}
.column h4:hover{
    color: #0c0c0c;
}
.column p{
    padding-top: 10px;
}

/* team section */
.ourteam{
    background-color: #fcfcf4;
}
.team{
    padding: 20px 40px;
}
.employer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
}
.employer-images img{
    width: 400px;
    height: 350px;
    object-fit: cover;
    border-radius: 60%;
}
.employer-detail, .image-left{
    margin-left: 30px;
}
.employer-detail h3{
    font-size: 30px;
    font-weight: bold;
}
.employer-detail h4{
    color: #9aabcf;
    margin-top: -5px;
    margin-bottom: 10px;
}
.employer-detail p{
    font-size: 20px;
    text-align: justify;
}

/* contact */
.map{
    margin: 35px 0 0 0;
}
.footer{
    padding: 50px;
}
.footer .icons-container{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
}
.footer .icons-container .icons i.fa{
    font-size: 20px;
    color: #393838;
}
.footer .icons-container .icons h3{
    text-transform: capitalize;
    font-size: 20px;
    color: #9aabcf;
}
.footer .share{
    text-align: center;
     padding: 30px 0;
}
.footer .share a.fab{
    color: #5b1364;
    font-size: 30px;
    margin-left: 20px;
    text-decoration: none;
}
.footer .share a.fab.fa-twitter{
    color: #5db5cf;
}
.footer .share a.fab.fa-instagram{
    color: #e7770e;
}
.footer .credit{
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
}
.footer .credit span:hover{
    color: #9aabcf;
}
.icons{
    margin-top: 5px;
}

/* responsiveness */
@media (max-width: 790px){
    .ourteam{
        padding-left: 16px;
    }
    .employer{
        flex-direction: column;
        align-items: center;
    }
    .employer-images img{
        width: 350px;
        height: 200px;
        border-radius: 50%;
    }
    .employer-detail h3{
        font-size: 20px;
    }
    .employer-detail h4{
        font-size: 12px;
        margin-top: 3px;
    }
    .employer-detail p{
        font-size: 14px;
    }
    .image-left{
        margin-top: 10px;
    }
}

@media(max-width: 780px){
    .header .menu ul li a{
        font-size: 15px;
    }
    .content-title h2{
        font-size: 28px;
    }
    .skill-section{
        flex-direction: column;
}      
    .skill-section .skill-img{
        width: 100%;
    }
    .skill-section .skill-content{
        width: 100%;
    }
    .service{
        flex-wrap: wrap;
    }
    .column{
        padding-top: 20px;
    }
}
@media(max-width: 668px){
    .header .logo a{
        font-size: 20px;
    }
    .header .menu ul li a{
        font-size: 12px;
    }
    .footer .icons-container{
        flex-direction: column;
    }
    .footer .icons-container .icons{
        margin-top: 20px;
    }
}
 @media(max-width: 560px){
    .header .menu ul li a{
        display: none;
    }
    .footer .share a.fab{
        font-size: 20px;
    }
    .footer .credit{
        font-size: 12px;
    }
} 
